@import '../../components/variables.css';

.root {
  width: 100vw;
  height: 100vh;
}

.churchImage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url('/img/church_2500.jpg');
  background-size: cover;
  background-position-x: 40%;
  filter: grayscale(1) brightness(0.4);
  z-index: -1;
}

.container {
  padding-top: 5vh;
  margin: 0 20px;
}

.headings {
  max-width: 640px;
  margin: 0 auto 40px;
  text-align: center;
  color: var(--colour-nearblack);
}

.headings > * {
  margin: 0 0 20px;
  font-size: 2.5em;
}

.headings h3 {
  margin-top: 40px;
  font-family: var(--font-family-cursive);
}

.rsvp {
  padding-top: 15vh;
}
