@import '../../components/variables.css';

.root {
  width: 100vw;
  height: 100vh;
}

.bgImage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url('/img/prague_2560.jpg');
  background-size: cover;
  background-position-x: 54%;
  background-color: #c1c1c1;
  filter: grayscale(1) brightness(0.6);
  z-index: -1;
  transition: filter ease-in-out 0.5s;
}

.bgImageFocus {
  filter: grayscale(0.4) brightness(1);
}

.container {
  padding-top: 5vh;
  margin: 0 20px;
}

.headings {
  max-width: 640px;
  margin: 0 auto 40px;
  text-align: center;
  color: #fff;
  font-size: 1.3em;
}

.headings h1 {
  margin: 0 0 10px;
}

.headings h2 {
  margin: 0 0 60px;
}

.headings h3 {
  margin: 0 0 20px;
  font-family: var(--font-family-cursive);
}

.rsvp {
  padding-top: 10vh;
}
