@import '../../components/variables.css';

.root {
  width: 100vw;
  height: 100vh;
}

.bgImage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url('/img/offley_2560.jpg');
  background-size: cover;
  background-position-x: 54%;
  background-position-y: 66%;
  background-color: #c1c1c1;
  filter: grayscale(1) brightness(0.4);
  z-index: -1;
  transition: filter ease-in-out 0.5s;
}

.container {
  padding-top: 50px;
  margin: 0 20px;
}

.headings {
  max-width: 640px;
  margin: 0 auto 40px;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 8px var(--colour-nearblack);
  font-size: 1.3em;
}

.headings h1 {
  margin: 0 0 10px;
}

.subheading {
  font-family: var(--font-family-cursive);
}

.content {
  max-width: 960px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 1px 1px 4px var(--colour-nearblack);
}
