@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.formGroup {
  position: relative;
  margin-bottom: 15px;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
  max-width: 100%;
  font-weight: 700;
}

.input {
  margin-left: 10px;
}
