.root {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}

.link {
  display: inline-block;
  padding: 8px 8px 6px;
  text-decoration: none;
  font-size: 1.125em;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease-in, border-color 0.3s ease-in;
}

.link,
.link:visited {
  color: rgba(255, 255, 255, 0.8);
}

.active,
.link:active,
.link:hover {
  color: rgba(255, 255, 255, 1);
  border-color: #fff;
}
