:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Palanquin Dark', 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
  --font-family-cursive: 'Niconne', cursive;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  @custom-media --xs-viewport (min-width: 480px);
  @custom-media --sm-viewport (min-width: 768px);
  @custom-media --md-viewport (min-width: 992px);
  @custom-media --lg-viewport (min-width: 1200px);

  /*
   * Colour palette
   * ======================================================================== */

  --colour-nearblack: #282828;
  --colour-primary: #6495ed;
  --colour-secondary: #2a6feb;
  --colour-tertiary: #2a6feb;
  --colour-grey: #ccc;
  --colour-green: #87eda2;
  --colour-red: #fa7575;
}
