@import '../../components/variables.css';

.root {
  width: 100vw;
  height: 100vh;
}

.bgImage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url('/img/cervenalhota_2560.jpg');
  background-size: cover;
  background-position-x: 30%;
  background-color: #c1c1c1;
  filter: grayscale(1) brightness(0.6);
  z-index: -1;
  transition: filter ease-in-out 0.5s;
}

.bgImageFocus {
  filter: grayscale(0.4) brightness(0.8);
}

.container {
  padding-top: 5vh;
  margin: 0 20px;
  text-align: center;
}

.heading {
  font-family: var(--font-family-cursive);
  text-align: center;
  margin-top: 0;
  font-size: 4em;
  color: #fff;
  text-shadow: 2px 2px 6px var(--colour-nearblack);
}

.flexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.notes {
  display: inline-block;
  margin: 0 auto 40px;
  padding: 0 15px;
  border: 3px solid #fff;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
