@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

@media (--sm-viewport) {
  .flexContainer {
    flex-flow: row nowrap;
  }
}
